/* line 1, ../sass/cart.scss */
#CartContent {
  margin-bottom: 40px;
}
/* line 6, ../sass/cart.scss */
#CartContent .content .order-list {
  display: block;
  width: 725px;
  margin-bottom: 20px;
}
/* line 11, ../sass/cart.scss */
#CartContent .content .order-list thead {
  display: block;
  margin-bottom: 10px;
}
/* line 16, ../sass/cart.scss */
#CartContent .content .order-list th {
  padding: 5px 10px;
  text-align: left;
  background: #5a5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 25, ../sass/cart.scss */
#CartContent .content .order-list th.product {
  width: 540px;
  border-right: 5px solid #fff;
}
/* line 30, ../sass/cart.scss */
#CartContent .content .order-list th.price {
  text-align: right;
  width: 140px;
}
/* line 36, ../sass/cart.scss */
#CartContent .content .order-list tfoot {
  display: block;
  margin-top: 5px;
}
/* line 40, ../sass/cart.scss */
#CartContent .content .order-list tfoot td {
  padding: 10px;
  vertical-align: middle;
  border-top: 5px solid #fff;
}
/* line 46, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.bonus-count {
  font-size: 16px;
  background: #dedede;
}
/* line 51, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.bonus-info {
  font-size: 11px;
  padding: 10px 0;
  ertical-align: top;
  border-right: 5px solid #fff;
}
/* line 59, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.price {
  width: 140px;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  background: #dedede;
}
/* line 67, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.bonus-to-pay {
  font-size: 28px;
  width: 140px;
  font-weight: bold;
  line-height: 30px;
  padding: 0;
}
/* line 74, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.bonus-to-pay .block {
  border: 1px solid #dedede;
  display: block;
  overflow: hidden;
  margin: 0;
}
/* line 81, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.bonus-to-pay span {
  float: right;
}
/* line 84, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.bonus-to-pay input {
  float: right;
  border: 0;
  color: #5a5a5a;
  width: 70px;
  text-align: right;
  height: 30px;
  font-size: 28px;
  font-weight: bold;
  background: #fff;
  padding: 5px 0;
}
/* line 98, ../sass/cart.scss */
#CartContent .content .order-list tfoot td.to-pay, #CartContent .content .order-list tfoot td.bonus-pay {
  font-size: 16px;
  text-align: right;
  width: 200px;
  background: #dedede;
  border-right: 5px solid #fff;
}
/* line 107, ../sass/cart.scss */
#CartContent .content .order-list tbody td.last {
  border-bottom: 1px solid #5a5a5a;
}
/* line 111, ../sass/cart.scss */
#CartContent .content .order-list tbody td {
  padding: 10px;
  vertical-align: top;
  border-top: 1px solid #5a5a5a;
}
/* line 117, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product {
  width: 560px;
  padding: 10px 0;
  border-right: 5px solid #fff;
}
/* line 124, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .delete {
  background: url(../img/general/icons/icon-delete-big.png) no-repeat;
  background-position: 0 -30px;
  display: block;
  float: left;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  text-indent: -4000px;
}
/* line 134, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .delete:hover {
  background-position: 0 0;
}
/* line 139, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .photo {
  float: left;
  margin-right: 20px;
}
/* line 144, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info {
  display: block;
  width: 320px;
  float: left;
  font-size: 14px;
}
/* line 150, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 156, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .title a {
  text-decoration: none;
}
/* line 159, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .title a:hover {
  text-decoration: underline;
}
/* line 164, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .articule {
  font-size: 14px;
  margin-bottom: 40px;
}
/* line 169, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info label {
  width: 90px;
  float: left;
}
/* line 173, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .jqTransformSelectWrapper {
  width: 80px!important;
}
/* line 178, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .jqTransformSelectWrapper div span {
  width: 75px!important;
}
/* line 181, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .jqTransformSelectWrapper div span:hover {
  width: 75px!important;
}
/* line 188, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .jqTransformSelectWrapper ul {
  width: 80px!important;
  height: 190px;
  z-index: 10000;
}
/* line 193, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .size {
  position: relative;
  z-index: 70;
  clear: left;
  float: left;
  margin-bottom: 10px;
  line-height: 25px;
}
/* line 202, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .color {
  position: relative;
  z-index: 60;
  clear: left;
  float: left;
  margin-bottom: 10px;
}
/* line 209, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .color .select-img {
  width: 50px;
  height: 50px;
}
/* line 214, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .color label {
  float: left;
  line-height: 25px;
}
/* line 220, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .count {
  clear: both;
  line-height: 25px;
}
/* line 224, ../sass/cart.scss */
#CartContent .content .order-list tbody td.product article .product-info .count input {
  width: 40px;
  background: #dedede;
  border: 0;
  margin: 0;
  outline: 0;
  color: #5a5a5a;
  height: 25px;
  font-size: 18px;
  text-align: center;
}
/* line 242, ../sass/cart.scss */
#CartContent .content .order-list tbody td.price {
  width: 140px;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}
/* line 248, ../sass/cart.scss */
#CartContent .content .order-list tbody td.price span {
  margin-right: 10px;
}
/* line 256, ../sass/cart.scss */
#CartContent .content .go-back .save.order {
  width: 300px;
  background: url(../img/forms/buttons/cart-order-button.png) no-repeat top right;
}
/* line 260, ../sass/cart.scss */
#CartContent .content .go-back .save.order:hover {
  background-position: bottom right;
}
/* line 267, ../sass/cart.scss */
#CartContent .w235, #CartContent .w725 {
  float: left;
}
/* line 270, ../sass/cart.scss */
#CartContent .w725 {
  margin-right: 20px;
}
