/* line 2, ../sass/dressing-room.scss */
#DressingRoomContent {
  margin-bottom: 40px;
}
/* line 5, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list {
  clear: both;
  float: left;
}
/* line 11, ../sass/dressing-room.scss */
#DressingRoomContent .buttons {
  position: relative;
  top: 20px;
  margin-top: 0;
  width: 540px;
}
/* line 18, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul {
  height: 620px!important;
  overflow: visible!important;
}
/* line 22, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul li {
  float: left !important;
  width: 540px!important;
  height: 630px!important;
  margin-right: 0;
  margin-bottom: 10px;
}
/* line 29, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul li .item {
  height: 310px;
  margin-bottom: 15px;
}
/* line 33, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul li .item .image {
  width: 168px;
  height: 248px;
  border: 1px solid #5a5a5a;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 43, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul li .item .image.active {
  border: 1px solid #c0061e;
}
/* line 47, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul li .item .image img {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  max-width: 172px;
  max-height: 257px;
}
/* line 58, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-product-list ul li .item .info {
  margin-top: 15px;
}
/* line 65, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer {
  z-index: 10;
  position: relative;
}
/* line 69, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header {
  position: relative;
  margin-bottom: 20px;
}
/* line 73, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header a.nav {
  display: block;
  width: 118px;
  float: left;
  margin-right: 2px;
  padding: 5px 10px;
  background: #5a5a5a;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
/* line 85, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header a.nav:hover, #DressingRoomContent .dressed-viewer header a.nav.active {
  background: #c0061e;
}
/* line 90, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector {
  position: absolute;
  display: none;
  width: 420px!important;
  top: 25px;
  z-index: 20;
  overflow: hidden;
  height: 245px!important;
  left: -5px;
  padding: 5px;
  border-top: 2px solid #fff;
  background: #eaeced;
  -moz-box-shadow: 5px 5px 10px #666666;
  -webkit-box-shadow: 5px 5px 10px #666666;
  -o-box-shadow: 5px 5px 10px #666666;
  box-shadow: 5px 5px 10px #666666;
}
/* line 104, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector ul.list {
  position: relative;
  width: 420px;
  height: 208px!important;
}
/* line 109, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector ul.list li {
  float: left;
  width: 421px!important;
  padding: 0!important;
  overflow: hidden !important;
  height: 208px!important;
}
/* line 116, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector ul.list li div {
  margin-right: 6px;
  position: relative;
  margin-bottom: 6px;
  float: left;
  width: 100px;
  height: 100px;
}
/* line 125, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector ul.list li div img {
  display: block;
  position: relative;
  border: 1px solid #5a5a5a;
}
/* line 131, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector ul.list li div.active img {
  border: 2px solid #c0061e;
}
/* line 135, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .selector ul.list li div.lastinline {
  margin-right: 0;
}
/* line 143, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer header .buttons {
  background: #dadbdc;
  display: block;
  position: relative;
  top: 10px;
  height: 25px;
  width: 100%;
}
/* line 154, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .price {
  margin: 20px 0;
  text-align: right;
  font-size: 50px;
  font-weight: bold;
}
/* line 160, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .price span {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 167, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .tocart {
  margin-top: 40px;
  background: #dedede;
  position: relative;
  padding: 10px 50px 10px 10px;
  font-size: 22px;
}
/* line 174, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .tocart a {
  text-decoration: none;
  display: block;
}
/* line 178, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .tocart a:hover {
  color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/* line 185, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .tocart .cart {
  position: absolute;
  right: 0px;
  top: -20px;
}
/* line 193, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .view-list {
  margin-top: 20px;
}
/* line 195, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .view-list a {
  display: block;
  line-height: 14px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 8px;
}
/* line 202, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .view-list a.delete {
  background: url(../img/general/icons/icon-delete-mini.png) no-repeat 0 bottom;
  width: 14px;
  float: left;
  height: 14px;
  display: block;
  margin-right: 10px;
  margin-left: 0;
}
/* line 211, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .view-list a.delete:hover {
  background: url(../img/general/icons/icon-delete-mini.png) no-repeat 0 0;
}
/* line 216, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .view-list a span {
  float: right;
  font-weight: bold;
}
/* line 224, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 229, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 5px;
  text-indent: -4000px;
}
/* line 237, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a.circle {
  background: url(../img/general/icons/icons-dressed-more.png) no-repeat 0 0;
}
/* line 240, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a.circle:hover {
  background-position: 0 -30px;
}
/* line 245, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a.send {
  background: url(../img/general/icons/icons-dressed-more.png) no-repeat -29px 0;
}
/* line 248, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a.send:hover {
  background-position: -29px -30px;
}
/* line 253, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a.print {
  background: url(../img/general/icons/icons-dressed-more.png) no-repeat 100% 0;
}
/* line 256, ../sass/dressing-room.scss */
#DressingRoomContent .dressed-viewer .morebuttons a.print:hover {
  background-position: 100% -30px;
}
/* line 265, ../sass/dressing-room.scss */
#DressingRoomContent .w545, #DressingRoomContent .w420 {
  float: left;
}
/* line 268, ../sass/dressing-room.scss */
#DressingRoomContent .w420 {
  margin-left: 15px;
}
/* line 271, ../sass/dressing-room.scss */
#DressingRoomContent .w235 {
  float: right;
}
/* line 275, ../sass/dressing-room.scss */
#DressingRoomContent .w160 {
  float: left;
  display: block;
  width: 160px;
}
