/* line 1, ../sass/forms.scss */
.jqTransformHidden {
  display: none;
}

/* line 3, ../sass/forms.scss */
.jqTransformSelectWrapper {
  position: relative;
  height: 25px;
  width: 225px!important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}

/* line 12, ../sass/forms.scss */
.jqTransformSelectWrapper div span {
  font-size: 14px;
  float: none;
  display: block;
  z-index: 20;
  width: 220px!important;
  position: absolute;
  white-space: nowrap;
  height: 25px;
  line-height: 25px;
  padding: 0px 0 0 5px;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}
/* line 28, ../sass/forms.scss */
.jqTransformSelectWrapper div span:hover {
  background: url(../img/forms/form-select-big/hover.png) no-repeat top right;
}
/* line 32, ../sass/forms.scss */
.jqTransformSelectWrapper div span.selected {
  background: url(../img/forms/form-select-big/active.png) no-repeat top right;
}

/* line 37, ../sass/forms.scss */
.jqTransformSelectWrapper a.jqTransformSelectOpen {
  display: block;
  position: absolute;
  left: 0px;
  z-index: 10;
  width: 0px;
  height: 25px;
  background: url(../img/forms/form-select-big/inactive.png) no-repeat top right;
}

/* line 47, ../sass/forms.scss */
a.jqTransformSelectOpen:hover {
  background: url(../img/forms/form-select-big/hover.png) no-repeat top right;
}

/* line 51, ../sass/forms.scss */
a.jqTransformSelectOpen.selected {
  background: url(../img/forms/form-select-big/active.png) no-repeat top right;
}

/* line 55, ../sass/forms.scss */
.jqTransformSelectWrapper ul {
  position: absolute;
  width: 225px!important;
  top: 27px;
  left: 0px;
  list-style: none;
  display: none;
  margin: 0px;
  padding: 0px !important;
  height: 170px;
  overflow: auto;
  overflow-y: auto !important;
  z-index: 10;
}
/* line 69, ../sass/forms.scss */
.jqTransformSelectWrapper ul li {
  display: block;
  width: 100%;
}

/* line 75, ../sass/forms.scss */
.jqTransformSelectWrapper ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #959595;
  font-size: 14px;
}

/* line 84, ../sass/forms.scss */
.jqTransformSelectWrapper ul a.selected {
  background: #5a5a5a;
  color: #fff;
}

/* line 89, ../sass/forms.scss */
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
  background: #cd1442;
  color: #fff;
}

/* line 94, ../sass/forms.scss */
.order-form {
  display: block;
  width: 100%;
  background: #dedede;
}
/* line 99, ../sass/forms.scss */
.order-form legend {
  font-size: 18px;
  border: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background: #fff;
  display: block;
  width: 100%;
}
/* line 109, ../sass/forms.scss */
.order-form dl {
  float: left;
  background: #dedede;
  padding: 10px;
  line-height: 18px;
}
/* line 115, ../sass/forms.scss */
.order-form dl dd {
  clear: both;
  padding-bottom: 30px;
  display: block;
}
/* line 121, ../sass/forms.scss */
.order-form dl.note {
  float: left;
  margin-left: 0px;
}
/* line 125, ../sass/forms.scss */
.order-form dl.note span {
  color: #cc0000;
}
/* line 129, ../sass/forms.scss */
.order-form dl.delivery {
  border-right: 5px solid #fff;
}
/* line 132, ../sass/forms.scss */
.order-form dl.delivery label {
  width: 190px;
}
/* line 140, ../sass/forms.scss */
.order-form label {
  float: left;
  font-size: 14px;
  line-height: 25px;
  width: 240px;
}
/* line 146, ../sass/forms.scss */
.order-form label span {
  color: #cc0000;
}
/* line 152, ../sass/forms.scss */
.order-form .bonus-to-pay input {
  float: right;
  border: 0;
  color: #5a5a5a;
  width: 70px;
  text-align: right;
  height: 30px;
  font-size: 28px;
  font-weight: bold;
  background: #fff;
  padding: 5px 0;
}
/* line 169, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper, .order-form .cash-type-select .jqTransformSelectWrapper {
  width: 240px!important;
  margin-left: 25px;
}
/* line 175, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper div span, .order-form .cash-type-select .jqTransformSelectWrapper div span {
  width: 235px!important;
}
/* line 178, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper div span:hover, .order-form .cash-type-select .jqTransformSelectWrapper div span:hover {
  width: 235px!important;
}
/* line 185, ../sass/forms.scss */
.order-form .type-select .jqTransformSelectWrapper ul, .order-form .cash-type-select .jqTransformSelectWrapper ul {
  width: 240px!important;
}
/* line 189, ../sass/forms.scss */
.order-form .type-select .jqTransformRadioWrapper, .order-form .cash-type-select .jqTransformRadioWrapper {
  float: left;
  display: block;
  margin: 0px 4px;
  margin-top: 5px;
}
/* line 190, ../sass/forms.scss */
.order-form .type-select .jqTransformRadioWrapper label, .order-form .cash-type-select .jqTransformRadioWrapper label {
  float: left !important;
  width: 240px;
  margin-left: 20px;
}
/* line 195, ../sass/forms.scss */
.order-form .type-select .jqTransformRadio, .order-form .cash-type-select .jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat left top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: -5px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 206, ../sass/forms.scss */
.order-form .type-select a.jqTransformChecked, .order-form .cash-type-select a.jqTransformChecked {
  background-position: left bottom;
}

/* line 212, ../sass/forms.scss */
.product-sizes {
  overflow: hidden;
  line-height: 16px;
  display: block;
}
/* line 217, ../sass/forms.scss */
.product-sizes .jqTransformRadioWrapper {
  float: left;
  margin-right: 0px;
  margin-bottom: 10px;
}
/* line 220, ../sass/forms.scss */
.product-sizes .jqTransformRadioWrapper label {
  margin-top: 0px;
  line-height: 16px;
  margin-left: 8px;
}
/* line 225, ../sass/forms.scss */
.product-sizes .jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat left top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: 0px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 235, ../sass/forms.scss */
.product-sizes a.jqTransformDisabled {
  background-position: right bottom;
}
/* line 236, ../sass/forms.scss */
.product-sizes a.jqTransformChecked {
  background-position: left bottom;
}

/* line 239, ../sass/forms.scss */
.product-colors {
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 244, ../sass/forms.scss */
.product-colors .jqTransformRadioWrapper {
  float: left;
  margin-right: 0px;
  margin-bottom: 10px;
}
/* line 247, ../sass/forms.scss */
.product-colors .jqTransformRadioWrapper label {
  float: left;
  line-height: 16px;
  margin-left: 8px;
}
/* line 252, ../sass/forms.scss */
.product-colors .jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat left top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: 0px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 264, ../sass/forms.scss */
.product-colors a.jqTransformDisabled {
  background-position: right top;
}
/* line 265, ../sass/forms.scss */
.product-colors a.jqTransformChecked {
  background-position: left bottom;
}

/* line 273, ../sass/forms.scss */
.jqTransformRadioWrapper {
  float: left;
  margin-right: 0px;
  margin-bottom: 10px;
}

/* line 276, ../sass/forms.scss */
.jqTransformRadioWrapper label {
  float: left;
  line-height: 16px;
  margin-left: 8px;
}

/* line 281, ../sass/forms.scss */
.jqTransformRadio {
  text-indent: -3000px;
  background: transparent url(../img/forms/radio-button-big.png) no-repeat left top;
  vertical-align: middle;
  float: left;
  height: 16px;
  margin-left: 0px;
  width: 16px;
  display: block;
  /*display: -moz-inline-block;*/
}

/* line 293, ../sass/forms.scss */
a.jqTransformDisabled {
  background-position: right top;
}

/* line 294, ../sass/forms.scss */
a.jqTransformChecked {
  background-position: left bottom;
}

/* line 296, ../sass/forms.scss */
.white-form {
  float: left;
  margin: 0;
  padding: 0;
  height: 25px;
  background: #fff;
  border: 0;
  width: 215px;
  color: #5a5a5a;
  font-size: 14px;
  padding: 0 5px;
  float: left;
}
/* line 309, ../sass/forms.scss */
.white-form.gray-text {
  color: #969696!important;
}
/* line 313, ../sass/forms.scss */
.white-form.w250 {
  width: 250px;
}

/* line 318, ../sass/forms.scss */
textarea.white-form {
  height: 70px;
  padding: 5px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}

/* line 328, ../sass/forms.scss */
.inputs.contact abbr {
  color: #cc0025;
}
/* line 332, ../sass/forms.scss */
.inputs.contact label {
  font-size: 14px;
}
/* line 336, ../sass/forms.scss */
.inputs.contact input, .inputs.contact textarea {
  width: 255px!important;
}
/* line 340, ../sass/forms.scss */
.inputs.contact .choice {
  line-height: 20px;
}
/* line 344, ../sass/forms.scss */
.inputs.contact .jqTransformRadioWrapper {
  margin-bottom: 0!important;
  margin-top: 5px;
}
/* line 349, ../sass/forms.scss */
.inputs.contact .jqTransformRadioWrapper label {
  width: 90px!important;
  margin-left: 22px;
  line-height: 18px;
}
/* line 356, ../sass/forms.scss */
.inputs.contact .month .jqTransformSelectWrapper {
  position: relative;
  margin-right: 10px;
  height: 25px;
  width: 110px!important;
  z-index: 50 !important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}
/* line 369, ../sass/forms.scss */
.inputs.contact .month .jqTransformSelectWrapper div span {
  width: 105px!important;
}
/* line 373, ../sass/forms.scss */
.inputs.contact .month .jqTransformSelectWrapper ul {
  width: 110px!important;
  padding: 0;
}
/* line 377, ../sass/forms.scss */
.inputs.contact .month .jqTransformSelectWrapper ul li {
  display: block;
  width: 100%;
}
/* line 386, ../sass/forms.scss */
.inputs.contact .year .jqTransformSelectWrapper {
  position: relative;
  margin-right: 0px;
  height: 25px;
  width: 75px!important;
  z-index: 50 !important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}
/* line 397, ../sass/forms.scss */
.inputs.contact .year .jqTransformSelectWrapper div span {
  width: 70px!important;
}
/* line 401, ../sass/forms.scss */
.inputs.contact .year .jqTransformSelectWrapper ul {
  width: 75px!important;
  padding: 0;
}
/* line 405, ../sass/forms.scss */
.inputs.contact .year .jqTransformSelectWrapper ul li {
  display: block;
  width: 100%;
}
/* line 415, ../sass/forms.scss */
.inputs.contact .day .jqTransformSelectWrapper {
  position: relative;
  height: 25px;
  margin-right: 10px;
  width: 55px!important;
  z-index: 50 !important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}
/* line 426, ../sass/forms.scss */
.inputs.contact .day .jqTransformSelectWrapper div span {
  width: 50px!important;
}
/* line 430, ../sass/forms.scss */
.inputs.contact .day .jqTransformSelectWrapper ul {
  width: 55px!important;
  padding: 0;
}
/* line 434, ../sass/forms.scss */
.inputs.contact .day .jqTransformSelectWrapper ul li {
  display: block;
  width: 100%;
}
