/* line 1, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent {
  margin-bottom: 40px;
}
/* line 6, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content header {
  margin-bottom: 40px;
  height: 18px;
}
/* line 10, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content header p {
  float: left;
  width: 470px;
  margin-top: 20px;
  line-height: 1.5;
}
/* line 16, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content header p.welcome {
  margin-top: 0;
}
/* line 19, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content header p.welcome .user {
  font-size: 16px;
}
/* line 25, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content header .block.bonuses {
  float: right;
  text-align: center;
}
/* line 31, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article {
  margin-top: 30px;
  position: relative;
  float: left;
}
/* line 36, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article header {
  background: #5a5a5a;
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 20px!important;
}
/* line 48, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article header a {
  text-decoration: none;
  color: #fff;
}
/* line 53, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list {
  float: left;
  height: 300px;
}
/* line 57, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list ul {
  padding: 0!important;
  width: 725px !important;
}
/* line 61, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list ul li.list-item {
  display: block;
  margin-right: 15px;
  position: relative;
  float: left;
  height: 300px;
  width: 170px!important;
}
/* line 70, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list ul li.list-item.lastinline {
  margin-right: 0;
}
/* line 74, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list ul li.list-item .image {
  width: 168px;
  height: 298px;
  float: left;
}
/* line 80, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list ul li.list-item .delete {
  display: none;
  width: 14px;
  height: 14px;
  background: url(../img/general/icons/icon-delete-mini.png) no-repeat 0 -18px;
  position: absolute;
  top: 10px;
  right: 35px;
  z-index: 40;
}
/* line 90, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .dressed-list ul li.list-item .delete:hover {
  background-position: 0 0;
}
/* line 98, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list {
  width: 725px !important;
  float: left;
  height: 125px !important;
}
/* line 103, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list {
  width: 725px !important;
  padding: 0!important;
}
/* line 107, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item {
  display: block;
  position: relative;
  float: left;
  height: 125px;
}
/* line 113, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .lastinline {
  margin-right: 0;
}
/* line 116, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block {
  width: 170px;
  height: 125px;
  background: #dadbdc;
}
/* line 121, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .cart {
  position: absolute;
  display: block;
  width: 60px;
  height: 80px;
  top: auto;
  left: auto;
  right: 0px;
  top: 25px;
}
/* line 132, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .number {
  font-size: 12px;
  margin: 10px 10px 0 10px;
  float: left;
  display: block;
  text-transform: uppercase;
}
/* line 139, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .number strong {
  font-size: 18px;
  font-weight: bold;
}
/* line 145, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .date {
  font-size: 10px;
  margin: 0 10px;
  clear: left;
  float: left;
  display: block;
}
/* line 153, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .order-price {
  clear: left;
  float: left;
  margin: 20px 10px 10px;
  font-size: 18px;
  font-weight: bold;
}
/* line 161, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .status {
  width: 150px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
}
/* line 174, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .status.done {
  background: #028c33;
}
/* line 177, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .status.inwork {
  background: #ffb400;
}
/* line 180, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .orders-list ul.list li.order-item .order-block .status.canceled {
  background: #c0061e;
}
/* line 189, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list {
  width: 725px !important;
  overflow: hidden;
  float: left;
}
/* line 194, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list {
  width: 725px !important;
  padding: 0!important;
}
/* line 198, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item {
  display: block;
  position: relative;
  float: left;
  height: 125px;
  width: 170px!important;
}
/* line 205, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .lastinline {
  margin-right: 0;
}
/* line 209, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block {
  width: 170px;
  margin-right: 15px;
  text-align: center !important;
  height: 125px;
  background: #dadbdc;
}
/* line 216, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .no-bonuses {
  line-height: 125px;
  font-size: 24px;
  font-weight: bold;
}
/* line 222, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .description {
  font-size: 12px;
  float: left;
  width: 170px;
  display: block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
/* line 232, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .description.minus {
  height: 75px;
  line-height: 75px;
}
/* line 237, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .description strong {
  font-size: 18px;
  font-weight: bold;
}
/* line 243, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .to-date {
  position: absolute;
  display: block;
  background: #5a5a5a;
  bottom: 0;
  left: 0;
  width: 170px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
/* line 256, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .count {
  display: block;
  font-size: 28px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
}
/* line 265, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .count.plus {
  background: #028c33;
}
/* line 268, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .bonuses-list ul.list li.bonuses-item .bonuses-block .count.minus {
  background: #c0061e;
}
/* line 276, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .open-dressed {
  display: block;
}
/* line 279, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list, #PersonalRoomEnterContent .content article .viewed-products-list {
  width: 725px !important;
  float: left;
  height: 300px;
}
/* line 286, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item {
  display: block;
  position: relative;
  float: left;
  height: 300px;
  width: 170px!important;
}
/* line 293, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .lastinline, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .lastinline, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .lastinline, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .lastinline {
  margin-right: 0 !important;
}
/* line 297, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .image, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .image, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .image, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .image {
  position: relative;
  width: 168px;
}
/* line 302, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .delete, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .delete, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .delete, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .delete {
  display: none;
  width: 14px;
  height: 14px;
  background: url(../img/general/icons/icon-delete-mini.png) no-repeat 0 -18px;
  position: absolute;
  top: 10px;
  right: 35px;
  z-index: 40;
}
/* line 312, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .delete:hover, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .delete:hover, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .delete:hover, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .delete:hover {
  background-position: 0 0;
}
/* line 317, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .info, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .info, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .info, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .info {
  display: block;
  background: #dadbdc;
  margin-top: 12px;
  height: 15px;
  padding: 10px 5px;
}
/* line 324, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .info .title, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .info .title, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .info .title, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .info .title {
  display: block;
  float: left;
  overflow: hidden;
  width: 65px;
  white-space: nowrap;
  height: 20px;
  font-size: 12px;
}
/* line 334, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .info .price, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .info .price, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .info .price, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .info .price {
  display: block;
  position: relative;
  top: -2px;
  float: right;
  font-size: 16px;
  font-weight: bold;
}
/* line 343, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .info .tocart, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .info .tocart, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .info .tocart, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .info .tocart {
  float: right;
}
/* line 346, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .info .tocart a, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .info .tocart a, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .info .tocart a, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .info .tocart a {
  background: url(../img/main/sale-leaders-element-cart.png) no-repeat 0 0;
  width: 39px;
  height: 51px;
  display: block;
  text-indent: -4000px;
  float: right;
  position: relative;
  top: -23px;
  right: -5px;
}
/* line 357, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .info .tocart a:hover, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .info .tocart a:hover, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .info .tocart a:hover, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .info .tocart a:hover {
  opacity: 0.7;
}
/* line 364, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .content article .wishes-list ul.list li.wishes-item .brand-icon, #PersonalRoomEnterContent .content article .wishes-list ul.list li.list-item .brand-icon, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.wishes-item .brand-icon, #PersonalRoomEnterContent .content article .viewed-products-list ul.list li.list-item .brand-icon {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  top: auto;
  left: auto;
  bottom: 60px;
  z-index: 40;
}
/* line 379, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .w235, #PersonalRoomEnterContent .w725 {
  float: left;
}
/* line 382, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .w725 {
  margin-left: 20px;
}
/* line 386, ../sass/personal-room-enter.scss */
#PersonalRoomEnterContent .orders.theme-px725 .nivo-directionNav a, #PersonalRoomEnterContent .bonuses.theme-px725 .nivo-directionNav a {
  top: 145px !important;
}
