/* line 1, ../sass/profile.scss */
#ProfileEditContent {
  margin-bottom: 40px;
}
/* line 5, ../sass/profile.scss */
#ProfileEditContent .moreoptions li {
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 9, ../sass/profile.scss */
#ProfileEditContent .moreoptions li a {
  text-decoration: none;
  display: block;
  color: #fff;
  background: #5a5a5a;
  padding: 5px 10px;
}
/* line 16, ../sass/profile.scss */
#ProfileEditContent .moreoptions li a.delete {
  background: #5a5a5a url(../img/sprites/icon-delete-sprite.png) no-repeat 200px -28px;
}
/* line 20, ../sass/profile.scss */
#ProfileEditContent .moreoptions li a:hover {
  background-color: #c0061e;
  background-position: 200px 2px;
}
/* line 30, ../sass/profile.scss */
#ProfileEditContent .content .order-form {
  display: block;
}
/* line 35, ../sass/profile.scss */
#ProfileEditContent .content .order-form .contact label {
  width: 220px!important;
}
/* line 42, ../sass/profile.scss */
#ProfileEditContent .content .order-form .month .jqTransformSelectWrapper {
  position: relative;
  margin-right: 10px;
  height: 25px;
  width: 110px!important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}
/* line 52, ../sass/profile.scss */
#ProfileEditContent .content .order-form .month .jqTransformSelectWrapper div span {
  width: 105px!important;
}
/* line 56, ../sass/profile.scss */
#ProfileEditContent .content .order-form .month .jqTransformSelectWrapper ul {
  width: 110px!important;
}
/* line 64, ../sass/profile.scss */
#ProfileEditContent .content .order-form .day .jqTransformSelectWrapper {
  position: relative;
  height: 25px;
  margin-right: 10px;
  width: 55px!important;
  color: #fff;
  background: #5a5a5a;
  float: left;
}
/* line 74, ../sass/profile.scss */
#ProfileEditContent .content .order-form .day .jqTransformSelectWrapper div span {
  width: 50px!important;
}
/* line 78, ../sass/profile.scss */
#ProfileEditContent .content .order-form .day .jqTransformSelectWrapper ul {
  width: 55px!important;
}
/* line 83, ../sass/profile.scss */
#ProfileEditContent .content .order-form .year {
  width: 50px;
}
/* line 86, ../sass/profile.scss */
#ProfileEditContent .content .order-form dt {
  color: #fff;
  margin: 20px 0;
  margin-left: -10px;
  display: block;
  width: 100%;
  background: #5a5a5a;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 14px;
}
/* line 97, ../sass/profile.scss */
#ProfileEditContent .content .order-form dt a.add {
  float: right;
  background: #dedede;
  color: #5a5a5a;
  display: block;
  text-decoration: none;
  padding: 3px 10px;
}
/* line 105, ../sass/profile.scss */
#ProfileEditContent .content .order-form dt a.add span {
  border-bottom: 1px dashed;
}
/* line 110, ../sass/profile.scss */
#ProfileEditContent .content .order-form dt a.add:hover span {
  border-bottom: 1px solid;
}
/* line 117, ../sass/profile.scss */
#ProfileEditContent .content .order-form dd.aside-info {
  padding-bottom: 10px;
}
/* line 121, ../sass/profile.scss */
#ProfileEditContent .content .order-form dd.aside-info .comment a {
  color: #c0061e;
}
/* line 127, ../sass/profile.scss */
#ProfileEditContent .content .order-form dl.type-select, #ProfileEditContent .content .order-form dl.cash-type-select {
  border-bottom: 5px solid #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 132, ../sass/profile.scss */
#ProfileEditContent .content .order-form dl.type-select dd, #ProfileEditContent .content .order-form dl.cash-type-select dd {
  margin-bottom: 10px;
}
/* line 135, ../sass/profile.scss */
#ProfileEditContent .content .order-form dl.type-select dd input, #ProfileEditContent .content .order-form dl.cash-type-select dd input {
  float: left;
  margin-right: 10px;
}
/* line 139, ../sass/profile.scss */
#ProfileEditContent .content .order-form dl.type-select dd label, #ProfileEditContent .content .order-form dl.cash-type-select dd label {
  float: left;
  line-height: 16px;
}
/* line 146, ../sass/profile.scss */
#ProfileEditContent .content .order-form dl.cash-type-select {
  border-bottom: 0;
}
/* line 149, ../sass/profile.scss */
#ProfileEditContent .content .order-form dl.cash-type-select dd {
  margin-bottom: 0px;
}
/* line 154, ../sass/profile.scss */
#ProfileEditContent .content .order-form dd.metro {
  margin-top: -10px;
}
/* line 158, ../sass/profile.scss */
#ProfileEditContent .content .order-form dd .price {
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}
/* line 164, ../sass/profile.scss */
#ProfileEditContent .content .order-form dd .comment {
  font-size: 11px;
  line-height: 12px;
  text-align: left;
  margin-left: 25px;
  margin-top: -10px;
}
/* line 174, ../sass/profile.scss */
#ProfileEditContent .content .go-back .save.profile-button {
  width: 365px;
  background: url(../img/forms/buttons/save-profile-button.png) no-repeat top right;
}
/* line 181, ../sass/profile.scss */
#ProfileEditContent .w235, #ProfileEditContent .w485, #ProfileEditContent .w220 {
  float: left;
}
/* line 184, ../sass/profile.scss */
#ProfileEditContent .w485 {
  margin: 0 20px;
}
