/* line 1, ../sass/rightmenu.scss */
#rightmenu {
  background: url(../img/general/rightline/rightline.png) no-repeat 0 0;
  display: block;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 200px;
  width: 28px;
  height: 210px;
  padding-top: 1px;
}
/* line 12, ../sass/rightmenu.scss */
#rightmenu a {
  display: block;
  text-indent: -4000px;
  position: relative;
  z-index: 40;
  width: 28px;
  height: 26px;
  background: url(../img/general/rightline/rightline.png) no-repeat 0 0;
}
/* line 21, ../sass/rightmenu.scss */
#rightmenu a span {
  display: none;
  position: absolute;
  width: 100px;
  text-indent: 0;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  left: -130px;
  background: #5a5a5a;
}
/* line 33, ../sass/rightmenu.scss */
#rightmenu a em {
  display: none;
  width: 7px;
  height: 22px;
  background: url(../img/general/rightline/info-right.png);
  position: absolute;
  left: -20px;
}
/* line 42, ../sass/rightmenu.scss */
#rightmenu a.p1 {
  background-position: 0 -1px;
}
/* line 45, ../sass/rightmenu.scss */
#rightmenu a.p1:hover {
  background-position: -28px -1px;
}
/* line 50, ../sass/rightmenu.scss */
#rightmenu a.p2 {
  background-position: 0 -27px;
}
/* line 53, ../sass/rightmenu.scss */
#rightmenu a.p2:hover {
  background-position: -28px -27px;
}
/* line 58, ../sass/rightmenu.scss */
#rightmenu a.p3 {
  background-position: 0 -53px;
}
/* line 61, ../sass/rightmenu.scss */
#rightmenu a.p3:hover {
  background-position: -28px -53px;
}
/* line 66, ../sass/rightmenu.scss */
#rightmenu a.p4 {
  background-position: 0 -79px;
}
/* line 69, ../sass/rightmenu.scss */
#rightmenu a.p4:hover {
  background-position: -28px -79px;
}
/* line 74, ../sass/rightmenu.scss */
#rightmenu a.p5 {
  background-position: 0 -105px;
}
/* line 77, ../sass/rightmenu.scss */
#rightmenu a.p5:hover {
  background-position: -28px -105px;
}
/* line 82, ../sass/rightmenu.scss */
#rightmenu a.p6 {
  background-position: 0 -131px;
}
/* line 85, ../sass/rightmenu.scss */
#rightmenu a.p6:hover {
  background-position: -28px -131px;
}
/* line 90, ../sass/rightmenu.scss */
#rightmenu a.p7 {
  background-position: 0 -157px;
}
/* line 93, ../sass/rightmenu.scss */
#rightmenu a.p7:hover {
  background-position: -28px -157px;
}
/* line 98, ../sass/rightmenu.scss */
#rightmenu a.p8 {
  background-position: -183px 0;
}
/* line 101, ../sass/rightmenu.scss */
#rightmenu a.p8:hover {
  background-position: -28px -183px;
}
