/* line 1, ../sass/sisley.scss */
#SisleyContent {
  margin-bottom: 40px;
}
/* line 4, ../sass/sisley.scss */
#SisleyContent .w260, #SisleyContent .w440 {
  float: left;
}
/* line 8, ../sass/sisley.scss */
#SisleyContent .w440 article {
  background: #fff;
  padding: 20px 10px;
  margin-bottom: 10px;
}
/* line 13, ../sass/sisley.scss */
#SisleyContent .w440 article .s {
  display: block;
  position: relative;
  top: -20px;
  left: -10px;
  width: 440px;
  height: 40px;
  background: black url(../img/sisley/s.png) no-repeat 0 0;
}
/* line 23, ../sass/sisley.scss */
#SisleyContent .w440 article h2 {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  letter-spacing: -1px;
  font-size: 26px;
  line-height: 26px;
}
/* line 31, ../sass/sisley.scss */
#SisleyContent .w440 article h2 a {
  color: #000;
  text-decoration: none;
}
/* line 35, ../sass/sisley.scss */
#SisleyContent .w440 article h2 a:hover {
  text-decoration: underline;
}
/* line 40, ../sass/sisley.scss */
#SisleyContent .w440 article h2 .text {
  display: block;
  float: left;
  width: 380px;
}
/* line 46, ../sass/sisley.scss */
#SisleyContent .w440 article h2 time {
  display: block;
  float: right;
  font-size: 13px;
  font-weight: bold;
  width: 40px;
  line-height: 13px;
  text-align: right;
}
/* line 55, ../sass/sisley.scss */
#SisleyContent .w440 article h2 time .day {
  color: #000;
}
/* line 59, ../sass/sisley.scss */
#SisleyContent .w440 article h2 time .month {
  color: #5a5a5a;
}
/* line 63, ../sass/sisley.scss */
#SisleyContent .w440 article h2 time .year {
  display: block;
  color: #ccc;
}
/* line 69, ../sass/sisley.scss */
#SisleyContent .w440 article p {
  margin-top: 10px;
  font-size: 11px;
  color: #000;
}
/* line 74, ../sass/sisley.scss */
#SisleyContent .w440 article p a {
  color: #fb44d1;
  text-decoration: none;
}
/* line 78, ../sass/sisley.scss */
#SisleyContent .w440 article p a:hover {
  text-decoration: underline;
}
