body{
    padding: 0;
    margin: 0;
}

/*path{*/
    /*cursor: pointer;*/
/*}*/
#lasso_area{
    position: relative;
}
.dot {
    position: absolute !important;
    cursor: pointer;
    z-index: 100;
    border: 1px solid black;
}
#face {
    position: absolute;
}

#face img.main {
    /*padding: 40px*/
}
#face .flip{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
