/* line 3, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .count-items-per-page, .sort-navigation .paging {
  margin-left: 15px;
  float: left;
  line-height: 18px;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 10, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .count-items-per-page span, .sort-navigation .paging span {
  float: left;
  margin-right: 5px;
}
/* line 15, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .count-items-per-page a, .sort-navigation .paging a {
  display: block;
  float: left;
  text-decoration: none;
  background: #959595;
  height: 18px;
  width: 18px;
  text-align: center;
  margin-right: 2px;
  color: #fff;
}
/* line 26, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .count-items-per-page a.last, .sort-navigation .paging a.last {
  margin-right: 0;
}
/* line 30, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .count-items-per-page a.active, .sort-navigation .paging a.active {
  background: #5a5a5a;
}
/* line 34, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .count-items-per-page a:hover, .sort-navigation .paging a:hover {
  background: #cd1442;
}
/* line 41, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort {
  display: block;
  float: left;
  margin-right: 30px;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 48, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort span {
  float: left;
  margin-right: 5px;
  line-height: 18px;
}
/* line 54, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter {
  float: left;
}
/* line 57, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper {
  position: relative;
  height: 18px;
  color: #fff;
  width: 130px!important;
  background: #5a5a5a;
  float: left!important;
}
/* line 67, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper div span {
  font-size: 10px;
  float: none;
  z-index: 20;
  display: block;
  position: absolute;
  width: 135px!important;
  white-space: nowrap;
  height: 18px;
  line-height: 19px;
}
/* line 79, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper div span:hover {
  background: url(../img/forms/sort-select-hover.png) no-repeat top right;
}
/* line 83, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper div span.selected {
  background: url(../img/forms/sort-select-active.png) no-repeat top right;
}
/* line 88, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper a.jqTransformSelectOpen {
  display: block;
  position: absolute;
  left: 0px;
  z-index: 10;
  width: 10px;
  height: 18px;
  background: url(../img/forms/sort-select-inactive.png) no-repeat top right;
}
/* line 98, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper ul {
  position: absolute;
  top: 20px;
  left: 0px;
  list-style: none;
  display: none;
  margin: 0px;
  padding: 0px;
  width: 140px!important;
  height: 170px;
  overflow: auto;
  overflow-y: auto;
  z-index: 10;
}
/* line 113, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  background-color: #959595;
  font-size: 10px;
}
/* line 122, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper ul a.selected {
  background: #5a5a5a;
  color: #fff;
}
/* line 127, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .sort .filter .jqTransformSelectWrapper ul a:hover, .sort-navigation .sort .filter .jqTransformSelectWrapper ul a.selected:hover {
  background: #cd1442;
  color: #fff;
}
/* line 135, ../../sass/blocks/block-sort-navigation.scss */
.sort-navigation .paging {
  float: right;
  margin-left: 0;
  margin-right: 0;
}
