/* line 1, ../../sass/blocks/block-leftbar.scss */
.block {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 6, ../../sass/blocks/block-leftbar.scss */
.block h2 {
  font-size: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
  line-height: 26px;
}
/* line 14, ../../sass/blocks/block-leftbar.scss */
.block h2 span {
  display: block;
}
/* line 19, ../../sass/blocks/block-leftbar.scss */
.block img {
  display: block;
}
/* line 23, ../../sass/blocks/block-leftbar.scss */
.block.bonuses {
  background: #028C33;
  text-align: center;
  padding: 0;
  color: #fff;
}
/* line 29, ../../sass/blocks/block-leftbar.scss */
.block.bonuses a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
/* line 36, ../../sass/blocks/block-leftbar.scss */
.block.bonuses span {
  display: block;
  text-transform: uppercase;
}
/* line 40, ../../sass/blocks/block-leftbar.scss */
.block.bonuses span.count {
  font-size: 36px;
  font-weight: bold;
  margin: 5px 0;
}
/* line 46, ../../sass/blocks/block-leftbar.scss */
.block.bonuses span.bonuses {
  font-size: 18px;
}
/* line 52, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses {
  background: #c0061e;
  text-align: center;
  color: #fff;
  padding: 0;
}
/* line 58, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}
/* line 65, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses span {
  display: block;
  text-transform: uppercase;
}
/* line 69, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses span.date {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 73, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses span.date b {
  font-weight: bold;
}
/* line 78, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses span.count {
  margin: 5px 0 0 0 !important;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}
/* line 85, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses span.bonuses {
  font-size: 18px;
}
/* line 90, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses .why {
  padding-top: 0;
  text-decoration: underline;
  color: #fff;
}
/* line 95, ../../sass/blocks/block-leftbar.scss */
.block.lost-bonuses .why:hover {
  text-decoration: none;
}
/* line 101, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes {
  background: #5a5a5a;
  overflow: hidden;
  text-align: left;
  color: #fff;
}
/* line 107, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes dl {
  margin: 0 auto 10px auto;
  overflow: hidden;
  text-align: center;
  width: 135px;
}
/* line 113, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes dl dt {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  width: 100%;
}
/* line 121, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes dl dd {
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  clear: both;
  margin-bottom: 5px;
  width: 100%;
}
/* line 129, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes dl dd .title {
  float: left;
  clear: both;
  display: block;
  width: 70px;
  margin-right: 5px;
}
/* line 137, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes dl dd .size {
  display: block;
  width: 60px;
  float: left;
  font-weight: bold;
}
/* line 146, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes .how-select {
  clear: both;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  text-align: left;
  line-height: 12px;
  width: 100px;
  font-size: 11px;
  color: #fff;
  height: 28px;
  padding-left: 54px;
  padding-top: 4px;
  background: url(../img/general/icons/icons-dressed-medium.png) no-repeat left 3px;
}
/* line 161, ../../sass/blocks/block-leftbar.scss */
.block.user-sizes .how-select:hover {
  text-decoration: underline;
}
/* line 167, ../../sass/blocks/block-leftbar.scss */
.block.gray {
  background: #dadbdc;
}
/* line 170, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors, .block.gray.product-sizes {
  padding: 0;
}
/* line 174, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors header, .block.gray.product-sizes header {
  display: block;
  text-transform: uppercase;
  height: 25px;
  width: 215px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  background: #959595;
}
/* line 187, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors.product-colors, .block.gray.product-sizes.product-colors {
  padding-bottom: 10px;
}
/* line 191, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors article, .block.gray.product-sizes article {
  padding: 10px;
}
/* line 194, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors article dl, .block.gray.product-sizes article dl {
  width: 100%;
}
/* line 197, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors article dl dd, .block.gray.product-sizes article dl dd {
  float: left;
  width: 50%;
}
/* line 203, ../../sass/blocks/block-leftbar.scss */
.block.gray.product-colors article div, .block.gray.product-sizes article div {
  display: block;
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
}
/* line 212, ../../sass/blocks/block-leftbar.scss */
.block.gray.select {
  position: relative;
  padding: 0;
  clear: both;
}
/* line 217, ../../sass/blocks/block-leftbar.scss */
.block.gray.select header {
  display: block;
  text-transform: uppercase;
  height: 25px;
  width: 235px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  background: url(../img/blocks/block-select-header.png) no-repeat;
  color: #fff;
}
/* line 230, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header, .block.gray.select.colors header {
  background-position: 0 -105px;
}
/* line 234, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header.active, .block.gray.select.colors header.active {
  background-position: 0 -35px;
}
/* line 237, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header.active:hover, .block.gray.select.colors header.active:hover {
  background-position: 0 0;
}
/* line 241, ../../sass/blocks/block-leftbar.scss */
.block.gray.select.brands header:hover, .block.gray.select.colors header:hover {
  background-position: 0 -70px;
}
/* line 246, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article {
  padding: 10px 10px 5px 10px;
  overflow: hidden;
  display: none;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 253, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article.active {
  display: block;
}
/* line 257, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article p {
  display: block;
  margin-bottom: 5px;
}
/* line 262, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article ul.selectors {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 268, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article ul.selectors li {
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 272, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article ul.selectors li.last {
  margin-bottom: 5px;
}
/* line 278, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article span.jqTransformCheckboxWrapper {
  display: block;
  float: left;
}
/* line 281, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a.jqTransformCheckbox {
  background: transparent url(../img/forms/category-checkbox.png) no-repeat center top;
  vertical-align: middle;
  margin-top: 2px;
  padding: 0;
  height: 12px;
  width: 12px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 290, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a.jqTransformCheckbox.jqTransformChecked {
  background: transparent url(../img/forms/category-checkbox.png) no-repeat center bottom;
}
/* line 295, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article label {
  color: #959595;
  font-size: 14px;
  float: left;
  padding-left: 8px;
}
/* line 301, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article label img {
  margin-top: 2px;
}
/* line 305, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article label.checked {
  color: #5a5a5a;
}
/* line 310, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a {
  font-weight: bold;
  text-decoration: none;
}
/* line 314, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article a:hover {
  text-decoration: underline;
}
/* line 319, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors {
  display: block;
  width: 100%;
}
/* line 323, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors li {
  float: left;
  margin-right: 20px;
}
/* line 327, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors li.lastinline {
  margin-right: 0;
}
/* line 333, ../../sass/blocks/block-leftbar.scss */
.block.gray.select article .colors.selected li {
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 343, ../../sass/blocks/block-leftbar.scss */
.block.order-info {
  padding: 0;
  background: #dedede;
}
/* line 347, ../../sass/blocks/block-leftbar.scss */
.block.order-info header {
  background: #5a5a5a;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 355, ../../sass/blocks/block-leftbar.scss */
.block.order-info footer {
  background: #5a5a5a;
  margin-top: 10px;
  padding: 5px 10px;
  position: relative;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  text-transform: uppercase;
}
/* line 365, ../../sass/blocks/block-leftbar.scss */
.block.order-info footer .title {
  display: block;
  width: 150px;
  float: left;
}
/* line 371, ../../sass/blocks/block-leftbar.scss */
.block.order-info footer .price {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}
/* line 381, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product {
  margin: 10px;
  overflow: hidden;
}
/* line 385, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
/* line 390, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li .title {
  float: left;
  display: block;
  width: 160px;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 398, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li .price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: bold;
}
/* line 406, ../../sass/blocks/block-leftbar.scss */
.block.order-info .product li .articule {
  clear: left;
  display: block;
  width: 160px;
  float: left;
  font-size: 10px;
  margin-top: 5px;
}
/* line 417, ../../sass/blocks/block-leftbar.scss */
.block.order-info .bonus-pay, .block.order-info .pay {
  background: #808080;
  display: block;
  padding: 4px 5px;
  margin: 0 10px 5px 10px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
/* line 427, ../../sass/blocks/block-leftbar.scss */
.block.order-info .bonus-pay .title, .block.order-info .pay .title {
  float: left;
  display: block;
  width: 150px;
}
/* line 433, ../../sass/blocks/block-leftbar.scss */
.block.order-info .bonus-pay .price, .block.order-info .pay .price {
  position: absolute;
  display: block;
  top: 4px;
  right: 5px;
  font-weight: bold;
}
/* line 446, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery h2 {
  background: url(../img/general/sidebars/title-free-delivery.png) no-repeat 0 0;
  width: 230px;
  height: 70px;
  display: block;
  text-indent: -4000px;
}
/* line 453, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery p {
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 459, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery a {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
/* line 465, ../../sass/blocks/block-leftbar.scss */
.block.free-delivery a:hover {
  text-decoration: underline;
}
/* line 473, ../../sass/blocks/block-leftbar.scss */
.block.delivery {
  padding: 10px 0;
  font-size: 13px;
  line-height: 18px;
}
/* line 478, ../../sass/blocks/block-leftbar.scss */
.block.delivery p {
  margin-bottom: 20px;
}
