/* line 1, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories {
  background: #fff;
  margin-bottom: 5px;
}
/* line 5, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories {
  position: relative;
}
/* line 8, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 13, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li.active {
  background: #5a5a5a;
  margin-bottom: 10px;
}
/* line 17, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li.active a {
  color: #fff;
}
/* line 20, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li.active a:hover {
  text-decoration: none;
}
/* line 26, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
}
/* line 31, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li a:hover {
  text-decoration: underline;
}
/* line 36, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul {
  background: #dadbdc;
  display: block;
  padding: 10px 0 5px 0;
}
/* line 41, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul li {
  font-size: 14px;
  display: block;
  padding: 5px 10px;
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 48, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul li label {
  color: #959595;
  padding-left: 8px;
}
/* line 52, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul li label.checked {
  color: #5a5a5a;
}
/* line 57, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul li span.jqTransformCheckboxWrapper {
  display: block;
  float: left;
}
/* line 60, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul li a.jqTransformCheckbox {
  background: transparent url(../img/forms/category-checkbox.png) no-repeat center top;
  vertical-align: middle;
  margin-top: 2px;
  padding: 0;
  height: 12px;
  width: 12px;
  display: block;
  /*display: -moz-inline-block;*/
}
/* line 69, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories ul.categories li ul li a.jqTransformCheckbox.jqTransformChecked {
  background: transparent url(../img/forms/category-checkbox.png) no-repeat center bottom;
}
/* line 82, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories.usermenu-categories ul.categories {
  margin-bottom: 10px;
  padding-bottom: 5px;
  background: #dadbdc;
}
/* line 88, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories.usermenu-categories li {
  font-size: 14px!important;
  margin-top: 5px;
  margin-bottom: 0!important;
}
/* line 92, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories.usermenu-categories li a.active {
  font-weight: bold;
}
/* line 97, ../../sass/blocks/block-CatalogCategories.scss */
#CatalogCategories.usermenu-categories li.active {
  color: #fff;
  margin-top: 0 !important;
  padding: 5px 10px;
}
